<#@ include file="T4Helper.ttinclude" #>
<#@ output extension=".cs" #>
namespace <#= Host.ResolveAssemblyReference("$(RootNamespace)") #>
{
	/// <summary>
	/// Represents a Mockaroo data-type.
	/// </summary>
	public enum <#= EnumTypeName #>
	{
<# 
	PushIndent("\t\t");
	foreach (var type in EnumerateDataTypes())
	{
		WriteLine("/// <summary>");
		WriteLine($"/// {type}");
		WriteLine("/// </summary>");
		WriteLine($"{ToEnumName(type)},");
		WriteLine("");
	}
	ClearIndent();
#>
	}
}
