<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.11" targetFramework="net452" />
  <package id="ApprovalUtilities" version="3.0.11" targetFramework="net452" />
  <package id="CloudinaryDotNet" version="1.0.24" targetFramework="net452" />
  <package id="Gigobyte.DevOps" version="1.0.16201.20" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="psake" version="4.6.0" targetFramework="net452" />
  <package id="Shouldly" version="2.8.0" targetFramework="net452" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net452" />
</packages>